#document_detail_1{
    display: flex;
    margin: 20px 0px 0px -10px;
}

#document_text_details{
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
}

#document_text_details p{
    font-size: 1.1em;
}

#hr{
    background-color: black;
    width: 100%;
    height: 1px;
    margin: 20px 0px;
}

#title{
    display: flex;
    justify-content: space-between;
}

#function_btn{
    display: flex;
}

#add, #modify{
    background-color: rgb(255, 255, 255);
    border: 0px;
    cursor: pointer;
}

#add{
    margin: -10px 10px 0px 0px;
}

#modify{
    margin: -8px 30px 4px 0px;
}

#file_input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 260px 110px 0px 0px;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

#empty_folder{
    text-align: center;
    margin-bottom: 40px;
}

#empty_folder img{
    margin-top: 40px;
    opacity: 0.4;
}

#empty_folder p{
    line-height: 1.5;
    margin-top: -25px;
    margin-bottom: 20px;
    font-style: italic;
    opacity: 0.8;
}

#upload_btn{
    cursor: pointer;
    width: 80px;
    background-color: rgb(0, 136, 255);
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 8px 15px;
    text-align: center;
    margin-bottom: 40px;
}

table{
    width: 100%;
    margin: 30px 0px;
    border-collapse: separate; /* Use separate border model */
    border-spacing: 30px 0px; /* Add space between columns */
}

th{
    border: 1px solid black;
    padding: 2px;
}

td{
    padding: 15px 0px;
}

td:nth-child(1){
    width: 10%;
}

td:nth-child(2){
    width: 30%;
}

td:nth-child(3){
    width: 50%;
}

td:nth-child(4){
    width: 10%;
}

td:nth-child(4), td:nth-child(1){
    text-align: center;
}

#comment_bar{
    margin-top: 20px;
}

#comment_container{
    margin-top: 10px;
    background-color: #FCFFDC;
    padding: 15px 0px 15px 30px;
}

#comment_header{
    display: flex;
}

#comment_header{
    margin-bottom: 5px;
}

#comment_header h3{
    margin: auto 0px 10px 8px;
}

#comment_content{
    margin-left: -10px;
}

#comment_bar form{
    display: flex;
    gap: 2%;
    margin-left: 10px;
}

#comment_bar input , #comment_bar button{
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 15px;
}

#comment_bar input{
    width: 90%;
    font-size: 1em;
    padding: 10px;
}

#comment_bar button{
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
}

#comment_bar button img{
    width: 35px;
    margin-left: -1px;
    margin-top: 4px;
}

#user{
    display: flex;
    margin-bottom: 10px;
}

#user div{
    margin: auto 0px;
}

#user div #name{
    margin-bottom: 5px;
}

#name, #comment{
    margin-left: 5px;
}